.profile-container {
  width: 79%;
  min-height: 85vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 20px;
}

.personal-info {
  width: 100%;
  min-width: 300px;
  height: 24vh;
  min-height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.personal-info img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.personal-info label {
  height: 20%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6918e8;
  border-radius: 15px;
  color: #ffffff;
  font-size: clamp(15px, 1.5vw, 1000px);
}

.student-learning-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.first-info,
.last-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.first-info div,
.last-info div {
  width: 18.75vw;
  aspect-ratio: 1;
  min-width: 300px;
  margin-top: 20px;
  background-color: #6918e8;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: #ffffff;
  font-size: 20px;
}

.first-info div:hover,
.last-info div:hover {
  cursor: pointer;
}

.TrophyImg {
  width: 57%;
  height: 51%;
}

.TimeImg {
  width: 32.5%;
  height: 51%;
}

.Rankimg {
  width: 51%;
  height: 51.5%;
}

.Languageimg {
  width: 51.5%;
  height: 51.5%;
}

.selected {
  margin: 0 !important;
  height: 100%;
  background-color: #ffce00 !important;
}

.selected * {
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: #6918e8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm {
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: #6918e8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
}
.confirm:hover {
  cursor: pointer;
}
